@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

/* Start of CSS Reset */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Lato', sans-serif;
}

body, html {
height: 100%;
}
/* End of CSS Reset */

.instruments,
.backing-tracks,
.albums {
  width: 100vw;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.instruments ul,
.backing-tracks ul,
.albums ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.instruments ul li,
.backing-tracks ul li,
.albums ul li {
  height: 5vh;
  display: flex;
  align-items: center;
  /*flex-grow: 1;*/
  width: 25vw;
  justify-content: space-around;
}

.instruments li,
.backing-tracks li {
  background-color: #F728B4;
}

.albums ul {
  background-color: ;
}

#btnAmericanIdiot {
  background-color: #000000;
  color: white;
}

#btnDookie {
  background-color: #DAE4EE;
  color: #C6A617;
}

#btnWarning {
  background-color: #E1E0DE;
  color: #9BAD0B;
}

#btn21stCentury {
  background-color: #010101;
  color: #D9AB22;
}

.guitar, .bass, .drums, .vocals, .americanIdiot, .dookie {
  display: none;
}
