@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

@font-face {
  font-family: 'DirtyHeadline';
  src: url('../fonts/DirtyHeadline.woff') format('woff');
}

@font-face {
  font-family: 'fontbreakdown';
  src: url('../fonts/fontbreakdown.woff') format('woff');
}

@font-face {
  font-family: 'TrixiePlain';
  src: url('../fonts/TrixiePlain.woff') format('woff');
}

@font-face {
  font-family: 'KenaOpenFaceDisplaySSi';
  src: url('../fonts/KenaOpenFaceDisplaySSi.woff') format('woff');
}

* {
  /*font-family: 'Lato', sans-serif;*/
  font-weight: lighter;
}

.album,
.song {
  text-align: center;
  background-color: #999;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.american-idiot {
  font-family: 'DirtyHeadline', sans-serif;
  font-size: 310%;
}

.century-breakdown {
  font-family: 'fontbreakdown', sans-serif;
  font-size: 240%;
}

.dookie {
  font-family: 'TrixiePlain', sans-serif;
  font-size: 340%;
}

.dookie-songs {
  font-family: 'TrixiePlain', sans-serif;
  font-size: 200%;
}

.other {
  font-family: 'KenaOpenFaceDisplaySSi', sans-serif;
  font-size: 310%;
}

.album-row {

}
