@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

@font-face {
  font-family: 'DirtyHeadline';
  src: url('../fonts/DirtyHeadline.woff') format('woff');
}

@font-face {
  font-family: 'fontbreakdown';
  src: url('../fonts/fontbreakdown.woff') format('woff');
}

@font-face {
  font-family: 'TrixiePlain';
  src: url('../fonts/TrixiePlain.woff') format('woff');
}

@font-face {
  font-family: 'KenaOpenFaceDisplaySSi';
  src: url('../fonts/KenaOpenFaceDisplaySSi.woff') format('woff');
}

* {
  /*font-family: 'Lato', sans-serif;*/
  font-weight: lighter;
}

.album,
.song {
  text-align: center;
  background-color: #999;
}

.song a,
.album a {
  text-decoration: none;
  color: white;
  display: block;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.song a:hover,
.album a:hover {
  color: black;
}

.american-idiot {
  font-family: 'DirtyHeadline', sans-serif;
  font-size: 310%;
}

.american-idiot-songs {
  font-family: 'DirtyHeadline', sans-serif;
  font-size: 210%;
}

.century-breakdown {
  font-family: 'fontbreakdown', sans-serif;
  font-size: 240%;
}

.century-breakdown-songs {
  font-family: 'fontbreakdown', sans-serif;
  font-size: 170%;
}

.dookie {
  font-family: 'TrixiePlain', sans-serif;
  font-size: 340%;
}

.dookie-songs {
  font-family: 'TrixiePlain', sans-serif;
  font-size: 200%;
}

.other {
  font-family: 'KenaOpenFaceDisplaySSi', sans-serif;
  font-size: 310%;
}

.other-songs {
  font-family: 'KenaOpenFaceDisplaySSi', sans-serif;
  font-size: 220%;
}

.audio {
  display: none;
}

.button {
  height: 200px;
  width: 100%;
  border: none;
  background-color: #555;
  background-size: 50% 50%;
  background-position: center;
}

.play {
  background: url('../img/play.png') no-repeat;
}

.pause {
  background: url('../img/pause.png') no-repeat
}

.buttonOff {
  background-color: #999;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.buttonOn {
  background-color: #444;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
